In [14]:
import string
from os import listdir
import pandas as pd

In [2]:
# load doc into memory
def load_doc(filename):
    file = open(filename, encoding='utf-8')
    text = file.read()
    file.close()
    return text

# split a document into news story and highlights
def split_story(doc):
    index = doc.find('@highlight')
    # split into story and highlights
    story, highlights = doc[:index], doc[index:].split('@highlight')
    highlights = [h.strip() for h in highlights if len(h) > 0]
    return story, highlights

# load all stories in a directory
def load_stories(directory):
    stories = list()
    for name in listdir(directory):
        filename = directory + '/' + name
        doc = load_doc(filename)
        # split into story and highlights
        story, highlights = split_story(doc)
        stories.append({'story':story, 'highlights':highlights})
    return stories

# clean a list of lines
def clean_lines(lines):
    cleaned = list()
    table = str.maketrans('', '', string.punctuation)
    for line in lines:
        index = line.find('(CNN) -- ')
        if index > -1:
            line = line[index+len('(CNN)'):]
        line = line.split()
        line = [word.lower() for word in line]
        line = [w.translate(table) for w in line]
        line = [word for word in line if word.isalpha()]
        cleaned.append(' '.join(line))
    cleaned = [c for c in cleaned if len(c) > 0]
    return cleaned

# load stories
directory = 'cnn/stories/'
stories = load_stories(directory)
print('Loaded Stories %d' % len(stories))

# clean stories
for example in stories:
    example['story'] = clean_lines(example['story'].split('\n'))
    example['highlights'] = clean_lines(example['highlights'])

Loaded Stories 92579

In [4]:
df = pd.DataFrame(stories)

In [12]:
story = []
highlights = []
for i in range(len(df.index)):
    story.append(' '.join(df.story[i]))
    highlights.append(' '.join(df.highlights[i]))
    
#creat and save the clean dataframe   
d = {'story':story,'highlights':highlights}
cnn_news = pd.DataFrame(d, columns=['story','highlights'])

In [ ]:
cnn_news.to_csv('cnn_news.csv', index=False)

In [19]:
cnn_news.head()

,story,highlights
0,its official us president barack obama wants l...,syrian official obama climbed to the top of th...
1,usain bolt rounded off the world championships...,usain bolt wins third gold of world championsh...
2,the general services administration already un...,the employee in agencys kansas city office is ...
3,a medical doctor in vancouver british columbia...,new a canadian doctor says she was part of a t...
4,police arrested another teen thursday the sixt...,another arrest made in gang rape outside calif...

In [20]:
cnn_news.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92579 entries, 0 to 92578
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   story       92465 non-null  object
 1   highlights  92579 non-null  object
dtypes: object(2)
memory usage: 1.4+ MB